body {
    margin:0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26667F;
    padding: 14px 40px;
}

.logo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
}

.menu a {
    text-decoration: none;
    color: #f9fafb;
    font-size: 17px;
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: white;
    color: #26667F;
}

p {
    color: white;
    text-align: center;
}

h1 {
    color:white;
    text-align: center;
}

hr {
    color: white;
}